# Node / JavaScript (Frontend)
node_modules/
.expo/
dist/
web-build/
npm-debug.log
yarn-error.log

# Java / Spring Boot (Backend)
target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd

# IDEs and OS
.idea/
.vscode/
*.swp
*.orig
.DS_Store
Thumbs.db
